{% extends "no_footer_base.html" %}
{% load static %}
{% block content %}

<div class="mt-5 mx-5">
    {% include 'tab.html' %} 
</div>
<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            {% for item in data %}
            <div class="col">
                <!-- 이미지위치 -->
                <div class="card h-100 shadow-sm"> <img src='/{{item.file_name}}' class="card-img-top" alt="...">
                    <div class="card-body">
                        <!-- 타이틀 -->
                        <h5 class="card-title">{{item.title}}</h5>
                        <!-- 펀딩금액 -->
                        <!-- <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">12354.00€</span> </div> -->
                        <!-- 이동 -->
                        <div class="d-grid gap-2 my-4"> <a href="/app/fund/detail/{{item.board_id}}" class="btn btn-warning">펀딩 사이트 이동</a> </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            
        </div>
    </div>
</main>
{%endblock content%}