{% extends "no_footer_base.html" %}
{% load static %}
{% block content %}

<div class="mt-5 mx-5">
    {% include 'tab.html' %} 
</div>
<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            {% for item in data %}
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <!-- 이미지위치 -->
                    <img src='/{{item.file_name}}' class="card-img-top h-50" alt="...">
                    <!-- 현재 펀딩률 -->
                    <div class="label-top shadow-sm fs-6" style="font-family:NanumSquareR;">현재 펀딩률: </div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> 
                            <!-- 펀딩 타이틀 -->
                            <span class="float-start badge rounded-pill bg-success mb-2" style="font-family:NanumSquareR;">
                               {{item.title}}
                            </span> 
                            <!-- 총 펀딩금액 -->
                            <span class="float-start badge rounded-pill bg-primary" style="font-family:NanumSquareR;">
                                총 펀딩금액: {{item.fund_total}}원
                            </span> 
                        </div>
                        <!-- 펀딩설명 -->
                        <h5 class="card-title" style="font-family:NanumSquareR;">
                            여기다 설명을 적어주시면 될것 같아요 여기다 설명을 적어주시면 될것 같아요
                        </h5>
                        <!-- 펀딩확인 버튼 -->
                        <div class="d-grid gap-2 my-4"> 
                            <a href="/app/fund/detail/{{item.board_id}}" class="btn btn-warning" style="font-family:NanumSquareR;">
                                내 펀딩확인
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            
        </div>
    </div>
</main>
{%endblock content%}