{% extends "base.html" %}
{% load static %} 

{% block content %}

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>


    <!-- Start Content Page -->
    <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1">Contact Us</h1>
            <p>
                Proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>


    <!-- Start Contact -->

        <div class="container py-5">
            <div class="row py-5">
                <form action = "" class="col-md-9 m-auto" method="post" role="form">
                    <div class="row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="inputname">이름</label>
                            <input type="text" class="form-control mt-1" id="name" name="name" placeholder="name" value = '{{ user_name }}'>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <label for="inputemail">이메일</label>
                            <input type="email" class="form-control mt-1" id="email" name="email" placeholder="Email" value = '{{ user_email }}'>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="inputsubject">제목</label>
                        <input type="text" class="form-control mt-1" id="subject" name="subject" placeholder="Subject">
                    </div>
                    <div class="mb-3">
                        <label for="inputmessage">메세지</label>
                        <textarea class="form-control mt-1" id="message" name="message" placeholder="Message" rows="8"></textarea>
                    </div>
                    <div class="row">
                        <div class="col text-end mt-2">
                            <button type="submit" class="btn btn-success btn-lg px-3">전송</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    <!-- End Contact -->
    
{%endblock content%}