{% extends "no_footer_base.html" %}
{% load static %}
{% block content %}

<link href='{% static "assets/css/fundingcard.css"%}' rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div>
  <div style="margin:3rem 0rem"></div>
  <div>
    <h2 class=text-success style="font-family: 'NanumSquareEB'; text-align:center;">
      펀딩 진행 중
    </h2>

        <div style="margin:3rem 0rem"></div>

        <div>
          {% for item in data %}

            <div class="card mb-3" style="max-width: 840px;margin:auto;">
              {% comment %} <div>
                <i style="color: #F6FF01; margin : 1rem 1rem;" class="fas fa-star fa-1x"></i>
              </div> {% endcomment %}              

              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <p style="float:left; margin:0.5rem 0rem; font-family: 'NanumSquareEB';" class= "user_name ml-5" > 
                  작성자 : <strong>{{item.user_id}}</strong></p>
                {% if item.user_id == current_user %}
                <form action = "" method = "post">
                  <button style="margin:0.5rem 0rem;" class="btn btn-outline-success me-md-2" type="submit" name = "btn_modify" value = "btn_modify">수정</button>
                </form>
                <form action = "" method = "post">
                  <button style="margin:0.5rem 0rem;" class="btn btn-outline-success mr-1" type="submit" name = "btn_delete" value = "btn_delete">삭제</button>
                </form>
                {% else %}
                {% if item.crew_sum != 0 %}
                <a href = "/app/fund/contact/{{item.board_id}}">
                  <button class="btn btn-outline-success me-md-2" type="submit">팀원모집 {{item.join_pro}} / {{item.all_crew_sum}}</button>
                </a>
                {% endif %}
                {% endif %}

              </div>
              <div class="row g-0">
                <div class="col-md-4">
                  <img src='/{{item.file_name}}' class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">

                    <div class="circle " style="font-family:NanumSquareR; float:right;">{{item.percent}}%</div>
                    <h4 class="card-title mt-0" style="font-family:NanumSquareR;">{{item.title}}</h4>
                    <p class="card-text mb-1"style="font-family:NanumSquareR;"> {{item.intro}}</p>

                    <div class="mb-2">
                      <span class="badge badge-primary"style="font-family:NanumSquareR;"># {{item.language_text}}</span>
                      <span class="badge badge-secondary"style="font-family:NanumSquareR;"># {{item.target}}</span>
                      <span class="badge badge-success"style="font-family:NanumSquareR;"># {{item.category}}</span>
                      {% comment %} <span class="badge badge-danger"style="font-family:NanumSquareR;"># 중소기업</span> {% endcomment %}
                    </div>

                    {% comment %} <div style="margin:2rem 0rem; text-align:center;"> {% endcomment %}

                    {% comment %} 별찍기 느낌... 이거 while문이 안되는듯? 뭔가 방법을 찾으면 동적으로 가능할 것 같은데,, 노가다로 가야겠다.. {% endcomment %}
                    

                    <div style="margin:1rem 0rem"></div>
                <div class= funding_main_bar_color style="display:inline-block"></div>
                <div style="margin:0.5rem 0rem"></div>


                    {% comment %} <div class="percent">
                      {% if item.percent_mark == 0 %}
                      <div class= "percent_bar_blank " style="display:inline-block"></div>
                      <div class= percent_bar_blank style="display:inline-block"></div>
                      <div class= percent_bar_blank style="display:inline-block"></div>
                      <div class= percent_bar_blank style="display:inline-block"></div>
                      <div class= percent_bar_blank style="display:inline-block"></div>
                      {% elif item.percent_mark == 1 %}
                      <div class= "percent_bar_color " style="display:inline-block"></div>
                      <div class= percent_bar_blank style="display:inline-block"></div>
                      <div class= percent_bar_blank style="display:inline-block"></div>
                      <div class= percent_bar_blank style="display:inline-block"></div>
                      <div class= percent_bar_blank style="display:inline-block"></div>
                      {% elif item.percent_mark == 2 %}
                      <div class= "percent_bar_color " style="display:inline-block"></div>
                      <div class= percent_bar_color style="display:inline-block"></div>
                      <div class= percent_bar_blank style="display:inline-block"></div>
                      <div class= percent_bar_blank style="display:inline-block"></div>
                      <div class= percent_bar_blank style="display:inline-block"></div>
                      {% elif item.percent_mark == 3 %}
                      <div class= "percent_bar_color " style="display:inline-block"></div>
                      <div class= percent_bar_color style="display:inline-block"></div>
                      <div class= percent_bar_color style="display:inline-block"></div>
                      <div class= percent_bar_blank style="display:inline-block"></div>
                      <div class= percent_bar_blank style="display:inline-block"></div>
                      {% elif item.percent_mark == 4 %}
                      <div class= "percent_bar_color " style="display:inline-block"></div>
                      <div class= percent_bar_color style="display:inline-block"></div>
                      <div class= percent_bar_color style="display:inline-block"></div>
                      <div class= percent_bar_color style="display:inline-block"></div>
                      <div class= percent_bar_blank style="display:inline-block"></div>
                      {% else %}
                      <div class= "percent_bar_color " style="display:inline-block"></div>
                      <div class= percent_bar_color style="display:inline-block"></div>
                      <div class= percent_bar_color style="display:inline-block"></div>
                      <div class= percent_bar_color style="display:inline-block"></div>
                      <div class= percent_bar_color style="display:inline-block"></div>
                      {% endif %}
                      <p style = "float:right" class="card-text mb-1"style="font-family:NanumSquareR;"> {{item.fund_goal_price}}원 까지
                      <div style="margin:1rem 0rem"></div>

                    </div> {% endcomment %}

                    <div>
                      {% comment %} <div style="margin:3rem 0rem"></div> {% endcomment %}

                    {% comment %} {% if item.user_id == current_user %} {% endcomment %}

                    {% comment %} <form action = "" method = "post">
                      <button type="submit" class = "btn btn-secondary" name = "btn_delete" value = "btn_delete">삭제하기</button> 
                    </form>

                    <form action = "" method = "post">
                      <button type="submit" class = "btn btn-secondary" name = "btn_modify" value = "btn_modify" method = "post">수정하기</button> 
                    </form> {% endcomment %}
                    {% comment %} {% else %} {% endcomment %}
                    {% if item.user_id != current_user %}
                    <form action="" method="post" class="mb-2">

                      <button style="float:right;" type="submit" class="btn btn-success position-relative mx-1" name = "btn_funding", value = "btn_funding"> 
                        <div>
                        펀딩하기
                        </div>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                          D-{{item.d_day}}
                          <span class="visually-hidden">unread messages</span>
                        </span>

                      </button>
                      

                      {% comment %} <button style="float:right;" type="submit" class="btn btn-outline-success mx-1" >
                        <div style="font-family:NanumSquareR;">펀딩하기<div>
                      </button> {% endcomment %}
                      

                      <div class="d-grid gap-2">
                          <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                            
                            <input type="checkbox" class="btn-check" id="btncheck1" name="func_check" autocomplete="off"
                              value="1">
                            <label class="btn btn-outline-primary" for="btncheck1" style="font-family:NanumSquareR;">
                              기능 1
                            </label>

                            <input type="checkbox" class="btn-check" id="btncheck2" name="func_check" autocomplete="off"
                              value="2">
                            <label class="btn btn-outline-primary" for="btncheck2" style="font-family:NanumSquareR;">
                              기능 2
                            </label>

                            <input type="checkbox" class="btn-check" id="btncheck3" name="func_check" autocomplete="off"
                              value="3">
                            <label class="btn btn-outline-primary" for="btncheck3" style="font-family:NanumSquareR;">
                              기능 3
                            </label>
                          
                          </div>
                      </div>
                  </form>
                  {% endif %}
                  {% comment %} {% endif %} {% endcomment %}


                    
                  <div class="d-grid gap-2 mb-3">
                    <a href="/{{item.file_name}}" download="다운로드.png">
                      <button type="button" class="btn btn-secondary btn-lg btn-block btn-sm" name ="download_button" value="True" method="POST">
                      image download
                      </button>
                    </a>
                    </div>

                  <div class="accordion" id="accordionExample">

                      <div class="accordion-item" >
                        <h2 class="accordion-header" id="headingOne" style="font-family: 'NanumSquareEB'; text-align:center;">
                          <button  class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            프로그램 기획 배경
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            {{item.background_text}}
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo" style="font-family: 'NanumSquareEB'; text-align:center;">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            프로그램 목적
                          </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            {{item.object_text}}
                          </div>
                        </div>
                      </div>

                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree" style="font-family: 'NanumSquareEB'; text-align:center;"> 
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            기능별 설명
                          </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            {{item.func_text}}
                          </div>
                        </div>
                      </div>

                      <!-- <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree" style="font-family: 'NanumSquareEB'; text-align:center;"> 
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            기능별 가격 및 소개
                          </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            {{item.func_text}}
                          </div>
                        </div>
                      </div> -->

                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour" style="font-family: 'NanumSquareEB'; text-align:center;"> 
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            주요 개발 내용
                          </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            {{item.develop_content}}
                          </div>
                        </div>
                      </div>


                    </div>

                <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  펀딩하기
                  </button>
                  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">펀딩을 진행하시겠습니까?</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          총 진행된 금액은 {{item.fund_goal_price}} 입니다.
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">안하겠습니다.</button>
                          <button type="button" class="btn btn-primary">사겠습니다.</button>
                        </div>
                      </div>
                    </div>
                  </div> -->

                  </div>
                </div>
              </div>
            </div>
          <!-- </a> -->
          {% endfor %}
        </div>
      </div>
    </div>
</div>
</div>
{%endblock content%}


          <!-- <div>
            {% if item.percent_mark == 0 %}
            <i style="color: gray; margin : 1rem 1rem;" class="fas fa-star fa-1x"></i>
            <i style="color: gray; margin : 1rem 1rem;" class="fas fa-star fa-1x"></i>
            <i style="color: gray; margin : 1rem 1rem;" class="fas fa-star fa-1x"></i>
            <i style="color: gray; margin : 1rem 1rem;" class="fas fa-star fa-1x"></i>
            {% elif item.percent_mark == 1 %}
            
            <i style="color: #F6FF01; margin : 1rem 1rem;" class="fas fa-star fa-1x"></i>
            <i style="color: gray; margin : 1rem 1rem;" class="fas fa-star fa-1x"></i>
            <i style="color: gray; margin : 1rem 1rem;" class="fas fa-star fa-1x"></i>
            <i style="color: gray; margin : 1rem 1rem;" class="fas fa-star fa-1x"></i>
            {% elif item.percent_mark == 2 %}
            
            <i style="color: #F6FF01; margin : 1rem 1rem;" class="fas fa-star fa-1x"></i>
            <i style="color: #F6FF01; margin : 1rem 1rem;" class="fas fa-star fa-1x"></i>
            <i style="color: gray; margin : 1rem 1rem;" class="fas fa-star fa-1x"></i>
            <i style="color: gray; margin : 1rem 1rem;" class="fas fa-star fa-1x"></i>
            {% elif item.percent_mark == 3 %}
            
            <i style="color: #F6FF01; margin : 1rem 1rem;" class="fas fa-star fa-1x"></i>
            <i style="color: #F6FF01; margin : 1rem 1rem;" class="fas fa-star fa-1x"></i>
            <i style="color: #F6FF01; margin : 1rem 1rem;" class="fas fa-star fa-1x"></i>
            <i style="color: gray; margin : 1rem 1rem;" class="fas fa-star fa-1x"></i>
            {% else %}
            <i style="color: #F6FF01; margin : 1rem 1rem;" class="fas fa-star fa-1x"></i>
            <i style="color: #F6FF01; margin : 1rem 1rem;" class="fas fa-star fa-1x"></i>
            <i style="color: #F6FF01; margin : 1rem 1rem;" class="fas fa-star fa-1x"></i>
            <i style="color: #F6FF01; margin : 1rem 1rem;" class="fas fa-star fa-1x"></i>
            {% endif %}

          </div> -->
          <!-- <a href="#" style="text-decoration: none; color : black;"> -->
