{% extends "base.html" %}


{% load static %}

{% block content %}
<div>
  <div style="margin:3rem 0rem"></div>
  <div>
    <h2 class=text-success style="font-family: 'NanumSquareEB'; text-align:center;">
      펀딩 진행 중</h2>
    <div style="margin:2rem 0rem; text-align:center;">
      {% comment %} <div style="margin:2rem 0rem; text-align:center;">
        <div class=create_bar_color style="display:inline-block"></div>
        <div class=create_bar_blank style="display:inline-block"></div>
        <div class=create_bar_blank style="display:inline-block"></div>
        <div> {% endcomment %}
        </div>
        <div style="margin:3rem 0rem"></div>

        <div>
          {% for item in data %}

          <a href="#" style="text-decoration: none; color : black;">

            <div class="card mb-3" style="max-width: 840px;margin:auto;">

              <div>
                <i style="color: #F6FF01; margin : 1rem 1rem;" class="fas fa-star fa-1x"></i>
              </div>

              <div class="row g-0">

                <div class="col-md-4">

                  <img src='/static/{{item.board_id}}.jpg' class="img-fluid rounded-start" alt="...">

                </div>

                <div class="col-md-8">

                  <div class="card-body">

                    <h5 class="card-title">{{item.title}}</h5>

                    <p class="card-text"> {{item.intro}}</p>
                    <p class="card-text"> 목표 금액 : {{item.fund_goal_price}}</p>
                    <p class="card-text"> 펀딩 금액 : {{ item.fund_total_price }}</p>
                    <p class="card-text"> 달성률 : {{item.percent}} % </p>
                    

                    <form action="" method="post">
                      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" id="btncheck1" name="func_check" autocomplete="off"
                          value="1">
                        <label class="btn btn-outline-primary" for="btncheck1">기능 1 {{item.func_a_price}}원</label>

                        <input type="checkbox" class="btn-check" id="btncheck2" name="func_check" autocomplete="off"
                          value="2">
                        <label class="btn btn-outline-primary" for="btncheck2">기능 2 {{item.func_b_price}}원</label>

                        <input type="checkbox" class="btn-check" id="btncheck3" name="func_check" autocomplete="off"
                          value="3">
                        <label class="btn btn-outline-primary" for="btncheck3">기능 3 {{item.func_c_price}}원</label>
                      </div>
                      <button type="submit" class="btn btn-secondary">펀딩하기</button>
                    </form>

<!-- <input style = "display : none;" value = "{{item.func_c_price}}" name = "test"></input>
꿀팀 종원님의 꿀팀 꿀오브더 팁 -->


                    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      펀딩하기

                



                  </button>
                  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">펀딩을 진행하시겠습니까?</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          총 진행된 금액은 {{item.fund_goal_price}} 입니다.
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">안하겠습니다.</button>
                          <button type="button" class="btn btn-primary">사겠습니다.</button>
                        </div>
                      </div>
                    </div>
                  </div> -->





                  </div>
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
</div>
{%endblock content%}