{% extends "no_footer_base.html" %}
{% load static %}

{% block content %}
<link href='{% static "assets/css/fundingcard.css"%}' rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<div>
  <div>
      
    <h2 class= "text-success mt-5 mb-5" style="font-family: 'NanumSquareEB'; text-align:center;">
        펀딩 참여
    </h2>
    
     <div style="text-align:center;">
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <form class="d-flex mx-4" action = "/app/fund/select/{{select_drop}}" method="post">
        <input class="form-control me-2" type="search" placeholder="Search" name="search_word" aria-label="Search">
        <button class="btn btn-success" name="search" type="submit">Search</button>
       </form>

      </div> 
      <a class="btn btn-outline-success btn-sm me-md-2" type="button" href="/app/fund/select/1">최신순</a>
      <a class="btn btn-outline-success btn-sm me-md-2" type="button" href="/app/fund/select/2">인기순</a>
      <a class="btn btn-outline-success btn-sm me-md-2" type="button" href="/app/fund/select/3">오랜된순</a>
      <div style="margin:3rem 0rem"></div>

    </div>

      
     
      {% for item in info %}  
  
      <div class="card mb-3" style="max-width: 840px;margin:auto;">
        <a href="/app/fund/detail/{{item.board_id}}" style = "text-decoration: none; color : black;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src='/{{item.file_name}}' class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                
                <div class="circle " style="font-family:NanumSquareR; float:right;">{{item.percent}}%</div>
                <span class="mx-4 badge rounded-pill bg-warning text-dark" style="font-family:NanumSquareR; float:right;">
                  펀딩 참여 인원 : {{item.join_user_count}}
                </span>
                <h4 class="card-title mt-0" style="font-family:NanumSquareR;">{{item.title}}</h4>
                <p class="card-text mb-1"style="font-family:NanumSquareR;"> {{item.intro}}</p>
                <div class="mb-2">
                  <span class="badge badge-primary"style="font-family:NanumSquareR;"># {{item.language_text}}</span>
                  <span class="badge badge-secondary"style="font-family:NanumSquareR;"># {{item.target}}</span>
                  <span class="badge badge-success"style="font-family:NanumSquareR;"># {{item.category}}</span>
                </div>


                <div class="percent">
                  {% if item.percent_mark == 0 %}
                  <div class= "percent_bar_blank " style="display:inline-block"></div>
                  <div class= percent_bar_blank style="display:inline-block"></div>
                  <div class= percent_bar_blank style="display:inline-block"></div>
                  <div class= percent_bar_blank style="display:inline-block"></div>
                  <div class= percent_bar_blank style="display:inline-block"></div>
                  {% elif item.percent_mark == 1 %}
                  <div class= "percent_bar_color " style="display:inline-block"></div>
                  <div class= percent_bar_blank style="display:inline-block"></div>
                  <div class= percent_bar_blank style="display:inline-block"></div>
                  <div class= percent_bar_blank style="display:inline-block"></div>
                  <div class= percent_bar_blank style="display:inline-block"></div>
                  {% elif item.percent_mark == 2 %}
                  <div class= "percent_bar_color " style="display:inline-block"></div>
                  <div class= percent_bar_color style="display:inline-block"></div>
                  <div class= percent_bar_blank style="display:inline-block"></div>
                  <div class= percent_bar_blank style="display:inline-block"></div>
                  <div class= percent_bar_blank style="display:inline-block"></div>
                  {% elif item.percent_mark == 3 %}
                  <div class= "percent_bar_color " style="display:inline-block"></div>
                  <div class= percent_bar_color style="display:inline-block"></div>
                  <div class= percent_bar_color style="display:inline-block"></div>
                  <div class= percent_bar_blank style="display:inline-block"></div>
                  <div class= percent_bar_blank style="display:inline-block"></div>
                  {% elif item.percent_mark == 4 %}
                  <div class= "percent_bar_color " style="display:inline-block"></div>
                  <div class= percent_bar_color style="display:inline-block"></div>
                  <div class= percent_bar_color style="display:inline-block"></div>
                  <div class= percent_bar_color style="display:inline-block"></div>
                  <div class= percent_bar_blank style="display:inline-block"></div>
                  {% else %}
                  <div class= "percent_bar_color " style="display:inline-block"></div>
                  <div class= percent_bar_color style="display:inline-block"></div>
                  <div class= percent_bar_color style="display:inline-block"></div>
                  <div class= percent_bar_color style="display:inline-block"></div>
                  <div class= percent_bar_color style="display:inline-block"></div>
                  {% endif %}
                  <div style="margin:1rem 0rem"></div>

                </div>


                
                <h2 class="card-text mb-1" style="font-family:NanumSquareR;"> {{item.start_date}} - {{item.end_date}}
                  <h2 style="float:right" class="card-text mb-1" style="font-family:NanumSquareR;"> {{item.d_day}}일 남음</h2>
                </h2>

              </div>
            </div>
          </div>
        </a>
      </div>   
      {% endfor %}
    
    
    
      <div class="p-5">
        <div style="text-align:center">
      <ul class='pagination justify-content-center'>
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
        {% for i in page_range %}
        <li class="page-item">
          <a class="page-link" href='/app/fund/select/{{ select_drop}}?page={{ i }}'>
            {{ i }}
          </a>
        </li>
        {% endfor %}
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </ul>
      </div>
    </div>
</div>

{%endblock content%}

