{%load static%}
<!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 pt-5">
        <h2 class="h2 text-success border-bottom pb-3 border-light logo">
          WAT Developer
        </h2>
      </div>
    </div>

    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <div class="container">
      <div class="row">
        <div class="col-md-2 mx-3">
          <div class="card user-card">
            <div class="card-block">
              <div class="user-image">
                <img
                  src='{% static "assets/img/jongwon.png" %}'
                  class="img-radius"
                  alt="User-Profile-Image"
                />
              </div>
              <h6
                style="font-family: NanumSquareR"
                class="f-w-600 m-t-25 m-b-10"
              >
                김종원
              </h6>

              <p style="font-family: NanumSquareR" class="m-t-15 text-muted">
                KT AIVLE 1기
              </p>
              <hr />
              <div class="row justify-content-center user-social-link">
                <div class="col-auto">
                  <a href="#!"><i class="fa fa-facebook text-facebook"></i></a>
                </div>
                <div class="col-auto">
                  <a href="https://github.com/JONWON2"
                    ><i class="fa fa-github text-github"></i
                  ></a>
                </div>
                <div class="col-auto">
                  <a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-2 mx-3">
          <div class="card user-card">
            <div class="card-block">
              <div class="user-image">
                <img
                  src='{% static "assets/img/minjin.png" %}'
                  class="img-radius"
                  alt="User-Profile-Image"
                />
              </div>
              <h6
                style="font-family: NanumSquareR"
                class="f-w-600 m-t-25 m-b-10"
              >
                신민진
              </h6>

              <p style="font-family: NanumSquareR" class="m-t-15 text-muted">
                KT AIVLE 1기
              </p>
              <hr />
              <div class="row justify-content-center user-social-link">
                <div class="col-auto">
                  <a href="#!"><i class="fa fa-facebook text-facebook"></i></a>
                </div>
                <div class="col-auto">
                  <a href="https://github.com/Shinminjin"
                    ><i class="fa fa-github text-github"></i
                  ></a>
                </div>
                <div class="col-auto">
                  <a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-2 mx-3">
          <div class="card user-card">
            <div class="card-block">
              <div class="user-image">
                <img
                  src='{% static "assets/img/sungwoo.png" %}'
                  class="img-radius"
                  alt="User-Profile-Image"
                />
              </div>
              <h6
                style="font-family: NanumSquareR"
                class="f-w-600 m-t-25 m-b-10"
              >
                장성우
              </h6>

              <p style="font-family: NanumSquareR" class="m-t-15 text-muted">
                KT AIVLE 1기
              </p>
              <hr />
              <div class="row justify-content-center user-social-link">
                <div class="col-auto">
                  <a href="#!"><i class="fa fa-facebook text-facebook"></i></a>
                </div>
                <div class="col-auto">
                  <a href="https://github.com/CastleRain"
                    ><i class="fa fa-github text-github"></i
                  ></a>
                </div>
                <div class="col-auto">
                  <a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-2 mx-3">
          <div class="card user-card">
            <div class="card-block">
              <div class="user-image">
                <img
                  src='{% static "assets/img/yeongin.png" %}'
                  class="img-radius"
                  alt="User-Profile-Image"
                />
              </div>
              <h6
                style="font-family: NanumSquareR"
                class="f-w-600 m-t-25 m-b-10"
              >
                장영인
              </h6>

              <p style="font-family: NanumSquareR" class="m-t-15 text-muted">
                KT AIVLE 1기
              </p>
              <hr />
              <div class="row justify-content-center user-social-link">
                <div class="col-auto">
                  <a href="#!"><i class="fa fa-facebook text-facebook"></i></a>
                </div>
                <div class="col-auto">
                  <a href="https://github.com/youngine"
                    ><i class="fa fa-github text-github"></i
                  ></a>
                </div>
                <div class="col-auto">
                  <a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-2 mx-3">
          <div class="card user-card">
            <div class="card-block">
              <div class="user-image">
                <img
                  src='{% static "assets/img/sangeun.png" %}'
                  class="img-radius"
                  alt="User-Profile-Image"
                />
              </div>
              <h6
                style="font-family: NanumSquareR"
                class="f-w-600 m-t-25 m-b-10"
              >
                조상은
              </h6>

              <p style="font-family: NanumSquareR" class="m-t-15 text-muted">
                KT AIVLE 1기
              </p>
              <hr />
              <div class="row justify-content-center user-social-link">
                <div class="col-auto">
                  <a href="#!"><i class="fa fa-facebook text-facebook"></i></a>
                </div>
                <div class="col-auto">
                  <a href="https://github.com/sejoe-dct"
                    ><i class="fa fa-github text-github"></i
                  ></a>
                </div>
                <div class="col-auto">
                  <a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="w-100 bg-black py-3">
    <div class="container">
      <div class="row pt-2">
        <div class="col-12">
          <p class="text-left text-light" style="font-family: NanumSquareR">
            Copyright &copy;
            <a rel="sponsored" href="https://github.com/youngine/waat" target="_blank"
              >WAT-Repository</a
            >
             |  Designed by 2022 KT AIVLE 부산 경남 1반 4조 
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->

<!-- Start Script -->
<script src='{% static "assets/js/jquery-1.11.0.min.js" %}'></script>
<script src='{% static "assets/js/jquery-migrate-1.2.1.min.js" %}'></script>
<script src='{% static "assets/js/bootstrap.bundle.min.js" %}'></script>
<script src='{% static "assets/js/templatemo.js" %}'></script>
<script src='{% static "assets/js/custom.js" %}'></script>
<!-- End Script -->
