{%load static%}
<head>
    <title>Zay Shop eCommerce HTML CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href='{% static "assets/img/apple-icon.png" %}'>
    <link rel="shortcut icon" type="image/x-icon" href='{% static "assets/img/favicon.ico" %}'>

 
    <link rel="stylesheet" href= '{% static "assets/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "assets/css/templatemo.css" %}'>
    <link rel="stylesheet" href='{% static "assets/css/custom.css" %}'>

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href='{% static "assets/css/fontawesome.min.css" %}'>
<!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>
