{%load static%}

<body>
    {% comment %} 본문 헤더 내용 {% endcomment %}
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">
            
            {% comment %} 로고 부분 {% endcomment %}
            <a class="navbar-brand text-success logo h1 align-self-center" a href="{% url 'app:funding_main' %}">
                WAT
            </a>
            
            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                {% comment %} 카테고리 부분 {% endcomment %}
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex">
                        <li class="nav-item">
                            <a class="nav-link" style="font-family: 'NanumSquareEB';margin: 0rem 2.4rem;" a href="{% url 'fundingapp:create1' %}">펀딩도전</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="font-family: 'NanumSquareEB';margin: 0rem 2.4rem;" a href="{% url 'fundingapp:select' %}">펀딩참여</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="font-family: 'NanumSquareEB';margin: 0rem 2.4rem;" a href="{% url 'app:assemble' %}">팀원모집</a>
                        </li>
                    </ul>
                
                </div>
                <div class="navbar align-self-center d-flex">
                    {% if request.session.user %}
                        <a style="font-family:NanumSquareR; text-decoration-line : none;margin:0rem 1rem;" a href="{% url 'user:usercheck' %}"> 마이페이지 </a>
                        <a style="font-family:NanumSquareR; text-decoration-line : none;margin:0rem 1rem;" id = "signout" a href="{% url 'user:signout' %}"> 로그아웃 </a>
                    {%else%}
                        <a style="font-family:NanumSquareR; text-decoration-line : none;margin:0rem 1rem;" a href="{% url 'user:signin' %}"> 로그인 </a>
                        <a style="font-family:NanumSquareR; text-decoration-line : none;margin:0rem 1rem;"a href="{% url 'user:signup' %}"> 회원가입 </a>
                    {% endif %}
                    </div>
                </div>
                <script>
                    document.querySelector("#signout").addEventListener("click", (e) => {
                        if (confirm("로그아웃 하시겠습니까?")) {
                            alert("로그아웃 되셨습니다.");
                        } else {
                            e.preventDefault();
                            alert("취소하셨습니다.");
                        }
                      });
                </script>
            </div>
        </div>
    </nav>
</body>
    <!-- Close Header -->