{%load static%}
<!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
  <div class="container">
      
  <div class="w-100 py-3">
    <div class="container">
      <div class="row pt-2">
        <div class="col-12">
        <div class="h2 text-success border-bottom pb-3 border-light logo">
                WAT
        </div>
          <p class="text-left text-light" style="font-family: NanumSquareR">
            Copyright &copy;
            <a rel="sponsored" href="https://github.com/youngine/waat" target="_blank"
              >WAT-Repository</a
            >
             |  Designed by 2022 KT AIVLE 부산 경남 1반 4조 
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src='{% static "assets/js/jquery-1.11.0.min.js" %}'></script>
<script src='{% static "assets/js/jquery-migrate-1.2.1.min.js" %}'></script>
<script src='{% static "assets/js/bootstrap.bundle.min.js" %}'></script>
<script src='{% static "assets/js/templatemo.js" %}'></script>
<script src='{% static "assets/js/custom.js" %}'></script>
<!-- End Footer -->
