{%load static%}
<!DOCTYPE html>
 <html lang="ko">
    {% include 'head.html' %}
    <body>
        {% block content %} 
        {% endblock %} 
        
    </body>
    <!-- Start Script -->
    <script src='{% static "assets/js/jquery-1.11.0.min.js" %}'></script>
    <script src='{% static "assets/js/jquery-migrate-1.2.1.min.js" %}'></script>
    <script src='{% static "assets/js/bootstrap.bundle.min.js" %}'></script>
    <script src='{% static "assets/js/templatemo.js" %}'></script>
    <script src='{% static "assets/js/custom.js" %}'></script>
    <!-- End Script -->
</html>

