{% extends "base.html" %}
{% load static %} 


{% block content %}
    {% include 'banner.html' %} 
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto" >
                <p class="fs-2" style="font-family:NanumSquareR;">주목하세요! 최근에 오픈한 펀딩</p>
                <p>
                    유용하고 재미있는 프로젝트에 서포터가 되어 개발자들을 응원해주세요
                </p>
            </div>
        </div>
    </section>

    <div class="row mx-5 mb-5">
    {% for item in result %}
        <div class="col-md-3">
            <div class="card mb-4 product-wap rounded-0">
                <div class="card rounded-0 mb-0">
                    <a href="/app/fund/detail/{{item.board_id}}" class="h3 text-decoration-none">
                    <img class="card-img rounded-0 img-fluid" src='/{{item.file_name}}' style="height:300px; width:330px">
                    </a>
                </div>
                <div class="card-body">
                    <h4 class= " text-center mb-2" style="font-family:NanumSquareR;"> 
                        {{ item.title }}
                    </h4>
                    <p class="text-center mb-0" style="font-family:NanumSquareR;">
                        펀딩 {{item.percent}}% 진행 중
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {%endblock content%}
