{% extends 'no_footer_base.html' %}
{% load static %} 

{% block content %}

<div>
    <h2 class= "text-success mt-5 mb-5" style="font-family: 'NanumSquareEB'; text-align:center;"> 신청서</h2>

    <div class="text-center">
        <div class= create_bar_color style="display:inline-block"></div>
        <div class= create_bar_color style="display:inline-block"></div>
        <div class= create_bar_color style="display:inline-block"></div>
    </div>
{% if page_num %}
 <form class="was-validated p-4" action="/app/fund/allViewPage/{{page_num}}/{{board_id}}/" method="POST">
     {% csrf_token %}
    <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
    <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">펀딩 목표금액</label>
    <input type="number" style="font-family:NanumSquareR;" class="form-control is-invalid" id="validationTextarea" name="goal_money" value={{DB_data.fund_goal_price}} placeholder="목표금액을 입력해주세요" required>
  </div>

  <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
    <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">기능별 가격</label>
    <div class="container">
      <div class="row">

          <div class="col">
            <div class="input-group has-validation">
              <span class="input-group-text" id="validationTooltipUsernamePrepend" style="font-family:NanumSquareR;">A 기능</span>
              <input type="number" class="form-control" id="validationTooltipUsername" name="eqA" value={{DB_data.func_a_price}} aria-describedby="validationTooltipUsernamePrepend" required>
            </div>
          </div>

          <div class="col">
            <div class="input-group has-validation">
              <span class="input-group-text" id="validationTooltipUsernamePrepend" style="font-family:NanumSquareR;">B 기능</span>
              <input type="number" class="form-control" id="validationTooltipUsername"name="eqB" value={{DB_data.func_b_price}} aria-describedby="validationTooltipUsernamePrepend" required>
            </div>          
          </div>

          <div class="col">
          <div class="input-group has-validation">
            <span class="input-group-text" id="validationTooltipUsernamePrepend" style="font-family:NanumSquareR;">C 기능</span>
            <input type="number" class="form-control" id="validationTooltipUsername" name="eqC" value={{DB_data.func_c_price}} aria-describedby="validationTooltipUsernamePrepend" required>
          </div>
        </div>

      </div>
    </div>
  </div>

       <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
        <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">기능별 설명</label>
        <textarea class="form-control is-invalid" id="validationTextarea" name="func_text" placeholder="Required example textarea" required>{{DB_data.func_text}}</textarea>
    </div>

  <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
    <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">프로젝트 기간</label>
    <div class="container">
      <div class="row">

          <div class="col">
            <div class="input-group has-validation">
              <span class="input-group-text" id="validationTooltipUsernamePrepend" style="font-family:NanumSquareR;">프로젝트 시작일</span>
              <input type="date" class="form-control" id="validationTooltipUsername"  name="start_date" value={{start_date}} aria-describedby="validationTooltipUsernamePrepend" required>
            </div>
          </div>

          <div class="col">
            <div class="input-group has-validation">
              <span class="input-group-text" id="validationTooltipUsernamePrepend" style="font-family:NanumSquareR;">프로젝트 종료일</span>
              <input type="date" class="form-control" id="validationTooltipUsername"  name="end_date" value={{end_date}} aria-describedby="validationTooltipUsernamePrepend" required>
            </div>          
          </div>

      </div>
    </div>
  </div>

     <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
        <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">주요 개발내용</label>
        <textarea class="form-control is-invalid" id="validationTextarea" name="developContent" placeholder="Required example textarea" required>{{DB_data.develop_content}}</textarea>
    </div>

    <div class="mb-5 col-md-7 mt-5 text-center" style="float: none; margin:0 auto;">
        <input class="btn btn-success mx-3" style="font-family:NanumSquareR;"  method="POST" type="submit" name="before" value="이전">
        <input class="btn btn-success" style="font-family:NanumSquareR;"  method="POST" type="submit" name="finsh" value="완료">
    </div>

</form>

 {% else %}

 <form class="was-validated p-4" action="/app/fund/create3/" method="POST" enctype="multipart/form-data">
     {% csrf_token %}
    <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
    <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">펀딩 목표금액</label>
    <input type="number" style="font-family:NanumSquareR;" class="form-control is-invalid" id="validationTextarea" name="goal_money"  placeholder="목표금액을 입력해주세요" required>
  </div>

  <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
    <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">기능별 가격</label>
    <div class="container">
      <div class="row">

          <div class="col">
            <div class="input-group has-validation">
              <span class="input-group-text" id="validationTooltipUsernamePrepend" style="font-family:NanumSquareR;">A 기능</span>
              <input type="number" class="form-control" id="validationTooltipUsername" name="eqA" aria-describedby="validationTooltipUsernamePrepend" required>
            </div>
          </div>

          <div class="col">
            <div class="input-group has-validation">
              <span class="input-group-text" id="validationTooltipUsernamePrepend" style="font-family:NanumSquareR;">B 기능</span>
              <input type="number" class="form-control" id="validationTooltipUsername"name="eqB"  aria-describedby="validationTooltipUsernamePrepend" required>
            </div>          
          </div>

          <div class="col">
          <div class="input-group has-validation">
            <span class="input-group-text" id="validationTooltipUsernamePrepend" style="font-family:NanumSquareR;">C 기능</span>
            <input type="number" class="form-control" id="validationTooltipUsername" name="eqC" aria-describedby="validationTooltipUsernamePrepend" required>
          </div>
        </div>

      </div>
    </div>
  </div>

     <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
        <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">기능별 설명</label>
        <textarea class="form-control is-invalid" id="validationTextarea" name="func_text" placeholder="Required example textarea" required></textarea>
    </div>


  <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
    <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">프로젝트 기간</label>
    <div class="container">
      <div class="row">

          <div class="col">
            <div class="input-group has-validation">
              <span class="input-group-text" id="validationTooltipUsernamePrepend" style="font-family:NanumSquareR;">프로젝트 시작일</span>
              <input type="date" class="form-control" id="validationTooltipUsername"  name="start_date" aria-describedby="validationTooltipUsernamePrepend" required>
            </div>
          </div>

          <div class="col">
            <div class="input-group has-validation">
              <span class="input-group-text" id="validationTooltipUsernamePrepend" style="font-family:NanumSquareR;">프로젝트 종료일</span>
              <input type="date" class="form-control" id="validationTooltipUsername"  name="end_date" aria-describedby="validationTooltipUsernamePrepend" required>
            </div>          
          </div>

      </div>
    </div>
  </div>

     <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
        <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">주요 개발내용</label>
        <textarea class="form-control is-invalid" id="validationTextarea" name="developContent" placeholder="Required example textarea" required></textarea>
    </div>

    <div class="mb-5 col-md-7 mt-5 text-center" style="float: none; margin:0 auto;">
        <input class="btn btn-success mx-3" style="font-family:NanumSquareR;"  method="POST" type="submit" name="before" value="이전">
        <input class="btn btn-success" style="font-family:NanumSquareR;"  method="POST" type="submit" name="finsh" value="완료">
    </div>

</form>

{% endif%}

<script>
  document.getElementById('currentDate').value = new Date().toISOString().substring(0, 10);
</script>

{%endblock content%}