{% extends 'no_footer_base.html' %}
{% load static %} 

{% block content %}

<div>
    <h2 class= "text-success mt-5 mb-5" style="font-family: 'NanumSquareEB'; text-align:center;"> 신청서</h2>

    <div class="text-center">
        <div class= create_bar_color style="display:inline-block"></div>
        <div class= create_bar_blank style="display:inline-block"></div>
        <div class= create_bar_blank style="display:inline-block"></div>
    </div>

{% if page_num %}
 <form class="was-validated p-4" action=/app/fund/allViewPage/{{page_num}}/{{board_id}}/ method="POST" enctype="multipart/form-data">
     {% csrf_token %}
    <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
    <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">주제</label>
    <input type="text" style="font-family:NanumSquareR;" class="form-control is-invalid" id="validationTextarea" name="title" value="{{DB_data.title}}" placeholder="타이틀을 작성해주세요" required>
  </div>

  <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
    <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">카테고리 유형</label>
    <select class="form-select" required aria-label="select example" name="category">
      <option value = {{DB_data.category}} selected disabled> {{DB_data.category}} </option>
      <option value="Web">Web</option>
      <option value="Application">Application</option>
      <option value="Game">Game</option>
      <option value="Crawling">Crawling</option>
    </select>
    {% comment %} <div class="invalid-feedback" style="font-family:NanumSquareR;">프로젝트 카테고리 유형을 선택해주세요</div> {% endcomment %}
  </div>

  <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
    <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">언어선택</label>
    <select class="form-select" required aria-label="select example" style="font-family:NanumSquareR;" name="language"> 
      <option value= {{DB_data.language_text}} selected disabled> {{DB_data.language_text}} </option>
      <option value="Python">Python</option>
      <option value="Java">Java</option>
      <option value="language">C language</option>
      <option value="Node Js">Node Js</option>
      <option value="Java Script">Java Script</option>
      <option value="Kotlin">Kotlin</option>
      <option value="React">React</option>
    </select>
    {% comment %} <div class="invalid-feedback" style="font-family:NanumSquareR;">프로젝트에 사용되는 언어를 선택해주세요</div> {% endcomment %}
  </div>

 <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
    <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">타겟층</label>
    <select class="form-select" required aria-label="select example" name="target">
      <option value= {{DB_data.target}} selected disabled> {{DB_data.target}} </option>
      <option value="10대">10대</option>
      <option value="20대">20대</option>
      <option value="30대">30대</option>
      <option value="40대">40대</option>
      <option value="50대">50대</option>
      <option value="60대">60대</option>
      <option value="70대">70대이상</option>
    </select>
    {% comment %} <div class="invalid-feedback" style="font-family:NanumSquareR;">프로젝트 카테고리 유형을 선택해주세요</div> {% endcomment %}
  </div>

  <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
    <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">기획 이미지</label>
    <input type="text" class="form-control" aria-label="file example" name="file" value={{file_name}} disabled required>
    {% comment %} <div class="invalid-feedback" style="font-family:NanumSquareR;">펀딩 기획 이미지를 첨부해주세요</div> {% endcomment %}
  </div>

  <div class="mb-5 col-md-7 mt-5 text-center" style="float: none; margin:0 auto;">
    <button class="btn btn-success" type="submit" method="POST" >다음</button>
  </div>
  
</form>
</div>

 {% else %}
 <form class="was-validated p-4" action="/app/fund/create1/" method="POST" enctype="multipart/form-data">
     {% csrf_token %}
    <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
    <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">주제</label>
    <input type="text" style="font-family:NanumSquareR;" class="form-control is-invalid" id="validationTextarea" name="title"  placeholder="타이틀을 작성해주세요" required>
  </div>

  <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
    <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">카테고리 유형</label>
    <select class="form-select" required aria-label="select example" name="category">
      <option value="">Open this select menu</option>
      <option value="Web">Web</option>
      <option value="Application">Application</option>
      <option value="Game">Game</option>
      <option value="Crawling">Crawling</option>
    </select>
    {% comment %} <div class="invalid-feedback" style="font-family:NanumSquareR;">프로젝트 카테고리 유형을 선택해주세요</div> {% endcomment %}
  </div>

  <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
    <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">언어선택</label>
    <select class="form-select" required aria-label="select example" style="font-family:NanumSquareR;" name="language"> 
      <option value="">Open this select menu</option>
      <option value="Python">Python</option>
      <option value="Java">Java</option>
      <option value="language">C language</option>
      <option value="Node Js">Node Js</option>
      <option value="Java Script">Java Script</option>
      <option value="Kotlin">Kotlin</option>
      <option value="React">React</option>
    </select>
    {% comment %} <div class="invalid-feedback" style="font-family:NanumSquareR;">프로젝트에 사용되는 언어를 선택해주세요</div> {% endcomment %}
  </div>

 <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
    <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">타겟층</label>
    <select class="form-select" required aria-label="select example" name="target">
      <option value="">Open this select menu</option>
      <option value="10대">10대</option>
      <option value="20대">20대</option>
      <option value="30대">30대</option>
      <option value="40대">40대</option>
      <option value="50대">50대</option>
      <option value="60대">60대</option>
      <option value="70대">70대이상</option>
    </select>
    {% comment %} <div class="invalid-feedback" style="font-family:NanumSquareR;">프로젝트 카테고리 유형을 선택해주세요</div> {% endcomment %}
  </div>

  <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
    <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">기획 이미지</label>
    <input type="file" class="form-control" aria-label="file example" name="file" required>
    {% comment %} <div class="invalid-feedback" style="font-family:NanumSquareR;">펀딩 기획 이미지를 첨부해주세요</div> {% endcomment %}
  </div>
  
  <div class="mb-5 col-md-7 mt-5 text-center" style="float: none; margin:0 auto;">
    <button class="btn btn-success" type="submit" method="POST" >다음</button>
  </div>
</form>
</div>
{% endif%}

{%endblock content%}