{% extends 'base.html' %}
{% load static %} 


{% block content %}
<div>
    <div style="margin:3rem 0rem"></div>
        <div>
            <h2 class= text-success style="font-family: 'NanumSquareEB'; text-align:center;">
                신청서</h2>
        <div style="margin:2rem 0rem; text-align:center;">
            <div class= create_bar_color style="display:inline-block"></div>
            <div class= create_bar_color style="display:inline-block"></div>
            <div class= create_bar_color style="display:inline-block"></div>
        <div>
            <div style="margin:3rem 0rem"></div>
    </div>

    <form action="/fund/create3/" method="POST">
        {% csrf_token %}
        <div class=wrapper>
            <p class= "developContent_text" style="display:inline-block;margin:0rem 1rem;font-family: 'NanumSquareEB';">주요 개발 내용</p>
            <input class = developContent  style="display:inline-block;margin;" type="textarea" name="developContent">
        </div>
        <div class=wrapper>
            <p class= "developContent_text" style="display:inline-block;margin:0rem 1rem;font-family: 'NanumSquareEB';">월별 수행 일정</p>
            <table class="table developPlan" style="display:inline-block" >
                {% comment %} <thead>
                    <tr>
                        <th>월별</th>
                        <th>추진내용</th>
                     </tr>
                <thead> {% endcomment %}
                {% comment %} <tbody>
                    <tr style="margin:0rem 0rem">
                        <td>1개월</td>
                        <td><input type="text" name="p1" size="80" style="width:80%; border: 0;"></td>
                    </tr>
                    <tr>
                        <td>2개월</td>
                        <td><input type="text" name="p2" size="50" style="width:80%; border: 0;"></td>
                    </tr>
                    <tr>
                        <td>3개월</td>
                        <td><input type="text" name="p3" size="50" style="width:80%; border: 0;"></td>
                    </tr>
                    <tr>
                        <td>4개월</td>
                        <td><input type="text" name="p4" size="50" style="width:80%; border: 0;"></td>
                    </tr>
                </tbody> {% endcomment %}
            </table>
        </div>
        
        <div style="margin:3rem 0rem"></div>
        <div >
            <input class= "before_btn_color" style="display:inline-block" method="POST" type="submit" name="before" value="이전">
            <input class= "next_btn_color" style="display:inline-block" method="POST" type="submit" name="finsh" value="완료">
        </div>
    </form>
    <div style="margin:3rem 0rem"></div>
</div>

{% endblock %}

