{% extends 'no_footer_base.html' %}
{% load static %} 

{% block content %}

<div>
    <h2 class= "text-success mt-5 mb-5" style="font-family: 'NanumSquareEB'; text-align:center;"> 신청서</h2>

    <div class="text-center">
        <div class= create_bar_color style="display:inline-block"></div>
        <div class= create_bar_color style="display:inline-block"></div>
        <div class= create_bar_blank style="display:inline-block"></div>
    </div>

{% if page_num %}

<form class="was-validated p-4" action="/app/fund/allViewPage/{{page_num}}/{{board_id}}/" method="POST">
     {% csrf_token %}

    <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
        <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">프로젝트 소개글</label>
        <textarea class="form-control is-invalid" id="validationTextarea" name="intro" placeholder="Required example textarea" required>
            {{DB_data.intro}}
        </textarea>
    </div>

    <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
        <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">프로젝트 기획배경</label>
        <textarea class="form-control is-invalid" id="validationTextarea"name="background"  placeholder="Required example textarea" required>
            {{DB_data.background_text}}
        </textarea>
    </div>

    <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
        <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">프로젝트 목적</label>
        <textarea class="form-control is-invalid" id="validationTextarea" name="objects" placeholder="Required example textarea" required>
            {{DB_data.object_text}} 
        </textarea>
    </div>

    <div class="mb-5 col-md-7 mt-5 text-center" style="float: none; margin:0 auto;">
        <button class="btn btn-success mx-3" style="font-family:NanumSquareR;" type="submit" method="POST"  name="before" >이전</button>
        <button class="btn btn-success" style="font-family:NanumSquareR;" type="submit" method="POST"  name="next" >다음</button>
    </div>
</form>

 {% else %}

<form class="was-validated p-4" action="/app/fund/create2/" method="POST">
     {% csrf_token %}

    <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
        <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">프로젝트 소개글</label>
        <textarea class="form-control is-invalid" id="validationTextarea" name="intro" placeholder="Required example textarea" required></textarea>
    </div>

    <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
        <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">프로젝트 기획배경</label>
        <textarea class="form-control is-invalid" id="validationTextarea"name="background"  placeholder="Required example textarea" required></textarea>
    </div>

    <div class="mb-3 col-md-7" style="float: none; margin:0 auto;">
        <label for="validationTextarea" class="form-label" style="font-family:NanumSquareR;">프로젝트 목적</label>
        <textarea class="form-control is-invalid" id="validationTextarea" name="objects" placeholder="Required example textarea" required></textarea>
    </div>

    <div class="mb-5 col-md-7 mt-5 text-center" style="float: none; margin:0 auto;">
        <button class="btn btn-success mx-3" style="font-family:NanumSquareR;" type="submit" method="POST" name="before" >이전</button>
        <button class="btn btn-success" style="font-family:NanumSquareR;" type="submit" method="POST"  name="next" >다음</button>
    </div>

</form>
{% endif%}
</div>
{%endblock content%}